# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo/

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Debug
npm-debug.log*
pnpm-debug.log*
